extends ../layouts/main
include ../blocks/header/header
include ../blocks/footer/footer

block content
   div.wrapper--white
      +header()

      +b.ARTICLE.text-page
         +b.bread-crumbs
            +e.row
               a(href="index.html").bread-crumbs__link Home >
               a(href="proxy-dll.html").bread-crumbs__link SkyBridge® ProxyDLL >
               SPAN.bread-crumbs__text Articles
         +e.container.container
            +b.process-block
               +e.row
                  +e.tabs
                     +b.block-link
                        a.block-link__text(href="what-story.html") What a story!
                     +b.block-link
                        a.block-link__text(href="advantages.html") Advantages in using freelancer programmers
                     +b.block-link
                        a.block-link__text(href="the-challenges.html") The challenges
                     +b.block-link
                        a.block-link__text(href="working-model.html") A working model
                     +b.block-link
                        a.block-link__text.block-link__text--active(href="#") The cost of missed opportunities
                     +b.block-link
                        a.block-link__text(href="conclusion.html") Conclusion
                  +e.content--width
                     +e.H1.title The cost of missed opportunities
                     +e.text-block--mmb
                        +e.text Suppose your business makes a bid for a software development project based on the following assumptions:
                     +e.text-block--mmb
                        +b.UL.item-row--pl
                           +e.LI.item The extra 20 developers needed will be hired and ready in two months.
                           +e.LI.item Each developer will work 7.6 hours each day, and be paid $600 to $800 a day.
                           +e.LI.item The project will be delivered in 12 months.
                     +e.text-block--mmb
                        +e.text You competitor makes a bid based on the following assumptions:
                     +e.text-block--mmb
                        +b.UL.item-row--pl
                           +e.LI.item The extra 15 freelancers will be ready within two weeks.
                           +e.LI.item Each developer will work an average of 10 hours each day, and be paid $200 a day.
                           +e.LI.item The project will be delivered in 6 months.
                     +e.P.text Who will win might be obvious.

      +footer()