extends ../layouts/main
include ../blocks/header/header
include ../blocks/footer/footer

block content
   div.wrapper--white
      +header()

      +b.ARTICLE.instant-remoting
         +b.bread-crumbs
            +e.row
               a(href="index.html").bread-crumbs__link Home >
               SPAN.bread-crumbs__text SkyBridge® ProxyDLL
         +b.container--mr
            +b.remoting-block
               +e.row
                  +e.content
                     +e.H1.title SkyBridge® ProxyDLL
                     +e.P.text The COVID pandemic brought many deep changes in our society, one of them is to work from home. The use of freelancer programmers over platforms such as Upwork can give software teams <a class="remoting-block__link" href="#"> huge advantages</a>.
                     +e.P.text However, one concern prevents many software teams from hiring freelancers, especially international: the safe-keeping of their intellectual property.
                     +e.P.text A software application often contains multiple components, some of which may contain valuable IP. Even if the freelancers only work on those that contains little IP, all the components need to be on their PCs for the project to compile and run.
                     +e.P.text Using the SkyBridge® ProxyDLL technology, in a few mouse clicks, the software team generates a proxy DLL from the original DLL that contains valuable IP, and gives the proxy DLL to the freelancers. The proxy DLL has the same public interface as the original DLL, therefore the freelancers’ project will compile and run.
                     +e.P.text Internally, the proxy DLL forwards every call on its functions to the eponymous functions in the original DLL, using the SkyBridge® instant remoting technology. The data return by the function in the original DLL is returned to the function in the proxy DLL, then to the caller. This way, in the eyes of its callers, the proxy DLL has the same behaviour as the original DLL.
                  +e.img-block
                     img.remoting-img(src="../../assets/images/proxy.png", alt="remoting image")

         +b.proxy-dll
            .container.container--ml
               +e.row--pb
                  +e.content
                     +e.H2.title--fz More Details
                     +e.P.text The diagram shows how SkyBridge® ProxyDLL is used in a project with four components. <a class="remoting-block__link" href="#">DLL C</a> and D <a class="remoting-block__link" href="#">contains</a> valuable IP and cannot be given to the freelancer, <a class="remoting-block__link" href="#">so</a> proxy DLL C’ and D’ are generated and given to the freelancer.
                  +e.content--width
                     a(href="process.html").proxy-dll__btn.btn Generating the proxy DLLs
                     a(href="calling.html").proxy-dll__btn.btn Calling a function in proxy DLL C’
                     a(href="other-options.html").proxy-dll__btn.btn Other use cases
               +e.image-block
                  img.proxy-img--width(src="../../assets/images/proxy-dll.png", alt="proxy dll image")
               +e.row
                  +b.code
                     pre
                        code.code-block(tabindex="0")
                           |&lt;DllMetadata Version=<strong>"1.2"</strong>&gt;
                           |   &lt;PublicTypes&gt;
                           |     &lt;PublicType Name=<strong>"EmployeeDbAccessor" </strong>IsStatic=<strong>"True"</strong>&gt;
                           |       &lt;PublicProperties&gt;
                           |         &lt;PublicProperty&gt;
                           |         &lt;/PublicProperty&gt;
                           |       &lt;/PublicProperties&gt;
                           |       &lt;PublicFunctions&gt;
                           |         &lt;PublicFunction Name=<strong>"GetEmployeeBirthday" </strong>IsStatic=<strong>"True"</strong>&gt;
                           |           &lt;ReturnType&gt;<strong>DateTime</strong>&lt;/ReturnType&gt;
                           |           &lt;PublicParams&gt;
                           |             &lt;Param Name=<strong>"EmployeeId" </strong>Type=<strong>"int"</strong>/&gt;
                           |           &lt;/PublicParams&gt;
                           |         &lt;/PublicFunction&gt;
                           |       &lt;/PublicFunctions&gt;
                           |     &lt;/PublicType&gt;
                           |   &lt;/PublicTypes&gt;
                           |&lt;/DLLMetadata&gt;
                  +e.content--color
                     +e.H3.title--fz Public metadata of a DLL
                     +e.P.text The metadata of a DLL includes all public types (i.e. classes) in the DLL. For each public type, it contains the name and type of all of its public properties and the name, input parameters and return type of all of its public functions.
                     +e.P.text The metadata also contains other public information about a DLL such as its version.
                     +e.P.text The extracted metadata is a XML which looks like this.

         +b.innovation
            +e.container
               +e.H4.title The new tide in software development
               +e.P.text This article offered a comprehensive discussion on the inevitable tide of using more freelancers via platforms such as Upwork in software development. Based on the author’s success stories, this article covered the opportunities, challenges, and a working model of using freelancers in software development.
               +e.row
                  +e.item
                     a(href="what-story.html")
                        +e.img
                           img(src="../../assets/images/scroll.svg", alt="scroll image")
                        +e.P.text-link What a story! →
                  +e.item
                     a(href="advantages.html")
                        +e.img
                           img(src="../../assets/images/worker.svg", alt="worker image")
                        +e.P.text-link Advantages in using freelancer programmers →
                  +e.item
                     a(href="the-challenges.html")
                        +e.img
                           img(src="../../assets/images/peak.svg", alt="peak image")
                        +e.P.text-link The challenges →
                  +e.item
                     a(href="working-model.html")
                        +e.img
                           img(src="../../assets/images/chip.svg", alt="chip image")
                        +e.P.text-link A working model →
                  +e.item
                     a(href="missed-opportunities.html")
                        +e.img
                           img(src="../../assets/images/target.svg", alt="target image")
                        +e.P.text-link The cost of missed opportunities →
                  +e.item
                     a(href="conclusion.html")
                        +e.img
                           img(src="../../assets/images/bulb.svg", alt="bulb image")
                        +e.P.text-link Conclusion →


      +footer()
