extends ../layouts/main
include ../blocks/header/header

block content
   div.wrapper.wrapper--bg
      +header()

      +b.ARTICLE.sign-up
         +e.row.container
            +b.title-block
               +e.H1.title SIGN UP
               span.line
               +e.P.text Already have an account?
                  a.title-block__link(href="login-page.html")  Log in
            form.form(action="#", method="POST")
               fieldset
                  +b.form-content
                        +b.input-block
                           label.input-block__info-text(for="firstName") First Name
                           input.input-block__input(id="firstName" type="text")
                        +b.input-block
                           label.input-block__info-text(for="lastName") Last Name
                           input.input-block__input(id="lastName" type="text")
                        +b.input-block
                           label.input-block__info-text(for="email") Email
                           input.input-block__input(id="email" type="email")
                        +b.input-block
                           .input-block__info-text Gender
                           +e.input-row
                              input.radio(id="gender1" type="radio" value="Male" name="gender" checked)
                              label.radio-text.info-text(for="gender1")
                                 span.radio-style Male
                              input.radio(id="gender2" type="radio" value="Female" name="gender")
                              label.radio-text.info-text(for="gender2")
                                 span.radio-style Female
                        +b.input-block
                           label.input-block__info-text(for="userName") Username
                           input.input-block__input(id="userName" type="text")
                        +b.input-block
                           .input-block__info-text Date of birth
                           .select__row
                              .select__arrow
                                 select.select.select--color#list
                                    option(value="option 1") option 1
                                    option(value="option 2") option 2
                                    option(value="option 3") option 3
                                    option(value="option 4") option 4

                              .select__arrow
                                 select.select.select--color#list
                                    option(value="option 1") option 1
                                    option(value="option 2") option 2
                                    option(value="option 3") option 3
                                    option(value="option 4") option 4

                              .select__arrow
                                 select.select.select--color#list
                                    option(value="option 1") option 1
                                    option(value="option 2") option 2
                                    option(value="option 3") option 3
                                    option(value="option 4") option 4
                        +b.input-block
                           label.input-block__info-text(for="userPassword") Password
                           input.input-block__input(id="userPassword" type="password")
                        +b.input-block
                           label.input-block__info-text(for="confirmPassword") Confirm Password
                           input.input-block__input(id="confirmPassword" type="password")
                  .additional-row
                     +b.additional
                        +e.remember-me
                           input.additional__checkbox(type="checkbox" id="style")
                           label.additional__style(for="style")
                           +e.remember-text I agree with all the <a class="additional__link" href="#"> Terms and Conditions </a> and <a class="additional__link" href="#"> Privacy Policy </a> of SkyBridge®
                     +b.btn-block
                        button.btn-block__btn.btn-block__btn--fz.btn Create my account
         +b.popup
            +e.content
               +e.close
               +e.P.title ERROR
               +e.P.text Data entered incorrectly
               +e.P.text try again :)