webfont('Inter-Bold', 'Inter-Bold')
webfont('Inter-ExtraBold', 'Inter-ExtraBold')
webfont('Inter-SemiBold', 'Inter-SemiBold')
webfont('Inter-Regular', 'Inter-Regular')
webfont('Inter-Medium', 'Inter-Medium')
webfont('HelveticaNeue-Regular', 'HelveticaNeue-Regular')
webfont('SourceCodePro-Medium', 'SourceCodePro-Medium')

