//color var
accent=#fff
accentColor=#919191
colorbtn=#fff
dark-purple=#171027
bgbtn = linear-gradient(93deg, rgba(193, 25, 250, 1) 0%, rgba(26, 44, 249, 1) 100%)
bgBlue = #2a8cff

//max-width container
width-reg = 1670px

// breakpoints
lg-breakpoint = 1199px
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px
