.wrapper

   &--white

      .container

         &--mr
            margin 0 auto 0 auto
            max-width 1310px

         &--ml
            margin 0 auto 0 auto
            max-width 1500px

            &__img-block
               margin-bottom 0px
               max-width 910px
               width 100%

      .remoting-block
         padding-top 145px
         padding-bottom 200px

      .header
         background #171027 0% 0% no-repeat padding-box
         box-shadow 0px 20px 20px #00000040

      .bread-crumbs
         background-color #F0EFF2

         &__row
            display flex
            margin-left 140px

         &__link
            font-family Inter-Medium
            font-size 18px
            line-height 21px
            color #919191
            padding-top 15px
            padding-bottom 15px

         &__text
            font-family Inter-Bold
            font-size 18px
            line-height 21px
            color #2B0972
            padding-left 5px
            padding-top 15px
            padding-bottom 15px

      .remoting-img
         width 100%

      .remoting-block

         &__row
            display flex
            justify-content space-between
            align-items center

         &__img-block
            max-width 380px
            margin-bottom 25px

         &__title
            font-family Inter-ExtraBold
            font-size 50px
            line-height 75px
            color #40139D
            max-width 424px
            padding-bottom 20px

         &__text
            font-family Inter-Regular
            font-size 20px
            line-height 35px
            color black
            max-width 639px
            margin-bottom 0
            padding-bottom 35px

         &__link
            color #6823F9

            &:hover
               color #6823F9
               text-decoration underline

      .diagram-img
         width 100%

      .proxy-dll
         padding-top 185px
         padding-bottom 165px
         background #F0EFF2

         &__row
            display flex
            justify-content space-between

            &--pb
               max-width 1285px
               margin 0 auto 175px

         &__img-block
            margin-top 15px
            margin-left 15px

         &__content
            padding-right 15px
            min-width 420px

            &--pl
               padding-left 15px

            &--width
               max-width 388px
               width 100%
               padding-right 0
               margin-top 30px

         &__title
            font-family Inter-Bold
            font-size 30px
            line-height 50px
            color #2B0972
            padding-bottom 20px
            max-width 578px
            margin-bottom 0

            &--fz
               font-size 50px
               line-height 75px
               padding-bottom 35px

         &__text
            font-family Inter-Regular
            font-size 20px
            line-height 35px
            color black
            padding-bottom 40px
            max-width 602px
            margin-bottom 0

            &:last-child
               padding-bottom 0

         &__btn
            max-width 388px
            width 100%
            margin-left 0

@media only screen and (max-width: 1024px)
   .wrapper

      &--white

         .proxy-dll

            &__img-block
               margin 0

            &__img-block
               margin 0

            &__row
               align-items center
               flex-direction column

            &__content
               padding-top 40px

         .remoting-block

            &__img-block
               margin 0

            &__row
               flex-direction column

            &__text
               padding-bottom 40px

@media only screen and (max-width: sm-breakpoint)

   .wrapper

      &--white

         .diagram-img
            max-width 100%

         .remoting-img
            max-width 100%

         .bread-crumbs

            &__row
               margin-left 20px

         .remoting-block
            padding-top 60px
            padding-bottom 60px

            &__title
               font-size 35px
               line-height 45px

            &__text
               font-size 18px

         .proxy-dll
            padding-top 60px
            padding-bottom 60px

            &__row

               &--pb
                  margin-bottom 40px

            &__title
               font-size 28px
               line-height 38px

            &__text
               font-size 18px

            .proxy-img

               &--width
                  margin-bottom 60px

@media only screen and (max-width: xs-breakpoint)

   .wrapper

      &--white

         .bread-crumbs

            &__row
               flex-direction column
               align-items center

            &__link
               padding-bottom 10px

            &__text
               padding-top 10px

         .proxy-dll

            &__content
               min-width auto

