.proxy-dll

   .code
      padding 40px 60px 40px 60px
      margin-left 30px
      margin-right 20px
      margin-top 10px

   &__content
      display flex
      flex-direction column

      &--color

         .proxy-dll

            &__content
               padding-top 15px

            &__title
               max-width 401px

            &__text
               color #797979
               max-width 498px

   &__btn
      margin-bottom 15px
      margin-left 20px

      &:last-child
         margin-bottom 0

   &__image-block
      display flex
      justify-content center

   .proxy-img

      &--width
         max-width 100%
         margin-bottom 190px

.innovation
   padding-top 190px
   padding-bottom 130px

   &__container
      max-width 1110px
      margin 0 auto
      display flex
      flex-direction column
      align-items center
      text-align center
      padding-left 15px
      padding-right 15px

   &__title
      font-family Inter-ExtraBold
      font-size 50px
      line-height 75px
      color #2B0972
      max-width 558px
      padding-bottom 25px

   &__text
      font-family Inter-Regular
      font-size 20px
      line-height 35px
      color black
      max-width 796px
      padding-bottom 70px

   &__row
      display flex
      justify-content space-evenly
      flex-wrap wrap
      width 100%
      padding-right 15px

      &:last-child
         margin-bottom 0

   &__item
      display flex
      flex-direction column
      align-items center
      width 280px
      margin-bottom 75px

      &:hover

         .innovation

            &__text-link
               text-decoration underline

      .innovation

         &__text-link
            font-family Inter-Medium
            font-size 20px
            line-height 24px
            color #2B0972

   &__img
      width 76px
      height 76px
      border-radius 50%
      background transparent linear-gradient(90deg, rgba(193, 25, 250, 1) 0%, rgba(26, 44, 249, 1) 100%) 0% 0% no-repeat padding-box
      display flex
      justify-content center
      align-items center
      margin 0 auto
      margin-bottom 20px

@media only screen and (max-width: lg-breakpoint)

   .innovation

      &__row
         padding-right 0

@media only screen and (max-width: 934px)

   .proxy-dll

      &__btn

         &:last-child
            margin-bottom 50px


@media only screen and (max-width: sm-breakpoint)

   .wrapper

      &--white

         .proxy-dll

            &__title

               &--fz
                  font-size 35px
                  line-height 45px

   .proxy-dll

      .code
         margin-right 0
         margin-left 0
         padding-left 20px
         padding-right 20px

     &__btn
         margin-left 0

      .proxy-img

         &--width
            margin-bottom 60px

   .innovation
      padding-top 60px
      padding-bottom 60px

      &__title
         font-size 35px
         line-height 45px

      &__item
         margin-bottom
         margin-bottom 40px

      &__text
         font-size 18px
